<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>js-technical-test</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/style.css">
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	       	<h1>{{title}} # {{number}}</h1>
	    </div>
	  </div>
	</nav>
	<div class="col-md-5">
		<div class="input-group mt15 rel">
			<label for="owner">Owner :</label>
			<input class="form-control" type="text" id="owner" ng-model="owner" placeholder="Owner" autocomplete="off">
		</div>
		<div class="input-group">
			<label for="owner">Repo :</label>
			<input class="form-control" type="text" id="repo" ng-model="repo" placeholder="Repo" autocomplete="off">
		</div>
		<div class="input-group">
			<label for="owner">Number :</label>
			<input class="form-control" type="text" id="number" ng-model="number" placeholder="Number" autocomplete="off">
		</div>
		<button class="btn btn-default" ng-click="getIssue()">Get comments</button>
		<hr>
			<div id="container" style="min-width: 310px; max-width: 500px; height: 300px; margin: 0 auto"></div>
		<hr>
		<h2 class="title-conversation">Users</h2>
		<ul class="list-unstyled">        
			<li ng-repeat="filter in filters" class="noselect">
				<label><input type="checkbox" ng-checked="filter.selected" ng-change="updateList($event)" ng-model="filter.selected"> {{filter.name}}</label>
			</li>
		</ul>
	</div>

	<div class="col-md-7 comments-container p0">
		<h2 class="title-conversation">Conversation with {{user}}</h2>
		<div class="col-md-12 p0">
			<div class="col-md-1 p0">
				<img width="65" ng-src="{{avatar}}" alt="{{user}}" title="{{user}}">
			</div>
			<div class="col-md-11">
				<div class="first-message">
				{{message}}	
				</div>
				
			</div>
		</div>

		<ul class="list-unstyled">
    		<li ng-repeat="comment in comments">
    			<div class="col-md-12 comment p0" ng-if="comment.user.login == user">
    				<div class="col-md-1 p0">
	    				<img width="65" ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.login}}" title="{{comment.user.login}}">
	    			</div>   
					<div class="col-md-11">
						<div class="first-message">
							{{comment.body}}
						</div>
					</div> 
    			</div>					

    			<div class="col-md-12 comment p0" ng-if="comment.user.login != user">
					<div class="col-md-11">
						<div class="comment-text">
							{{comment.body}}
						</div>
					</div>
					<div class="col-md-1 p0">
	    				<img width="65" ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.login}}" title="{{comment.user.login}}">
	    			</div>    
    			</div>	
			</li>
		</ul>
		<div class="col-md-12 mt15">
			<textarea id="message" class="form-control" placeholder="Message"></textarea>
		</div>
	</div>
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>